# Local конфиг/секреты
config.yml
*.local.yml
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
ENV/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
.vs/
*.sln
*.pyproj
*.csproj
*.user
*.suo
*.njsproj
*.code-workspace

# OS
.DS_Store
Thumbs.db
